RecipeApp/AppGUI/Connected Services/ServiceRef1/RecipeLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/ProjectApp/RecipeLibrary?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MealsLibrary1" />
  <xs:element name="FetchMealsData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="meal" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchMealsDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MealsLibrary1" minOccurs="0" name="FetchMealsDataResult" nillable="true" type="q1:ArrayOfRecipe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>